<div class="singe-home-category">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-0">
        <section class="card-image">
          <img [src]="categoryItem().imageUrl" />
        </section>
      </div>
      <div class="col-md-6">
        <section class="category-title-section">
          <div class="category-info">
            <div class="category-arrow">
              <img class="arrow" src="/images/svgs/loop-arrow.svg" />
            </div>
            <div class="category-title">
              <label>{{ categoryItem().title }}</label>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
